In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

download the original file shared by IBM
- canonical_smiles_link_ibm.txt
- https://ibm.ent.box.com/v/MoLFormer-data/file/1095723242548

In [3]:
!unzip /home/ylee/ChemLlama/dataset_mtr/download.zip

Archive:  /home/ylee/ChemLlama/dataset_mtr/download.zip
replace pubchem-canonical/CID-SMILES-CANONICAL.smi? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [4]:
df_canonized_smiles = pd.read_csv('./pubchem-canonical/CID-SMILES-CANONICAL.smi', delimiter=' ', header=None, names=['SMILES'])

In [5]:
df_canonized_smiles

                                                      SMILES
1                           CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
2                              CC(=O)OC(CC(=O)O)C[N+](C)(C)C
3                                       O=C(O)C1=CC=CC(O)C1O
4                                                    CC(O)CN
5                                         NCC(=O)COP(=O)(O)O
...                                                      ...
154733624  Fc1ccc(P(c2ccc(F)cc2)c2ccc(F)cc2)cc1.Fc1ccc(P(...
154733625  Cc1ccc(P(c2ccc(C)cc2)c2cc(C)ccn2)cc1.Cc1ccc(P(...
154733626  Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc...
154733627  [Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1cc...
154733628                CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C

[111378206 rows x 1 columns]

In [6]:
df_canonized_smiles['text_length'] = df_canonized_smiles['SMILES'].apply(lambda x:len(x))
df_canonized_smiles

                                                      SMILES  text_length
1                           CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C           32
2                              CC(=O)OC(CC(=O)O)C[N+](C)(C)C           29
3                                       O=C(O)C1=CC=CC(O)C1O           20
4                                                    CC(O)CN            7
5                                         NCC(=O)COP(=O)(O)O           18
...                                                      ...          ...
154733624  Fc1ccc(P(c2ccc(F)cc2)c2ccc(F)cc2)cc1.Fc1ccc(P(...          113
154733625  Cc1ccc(P(c2ccc(C)cc2)c2cc(C)ccn2)cc1.Cc1ccc(P(...          122
154733626  Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc...          100
154733627  [Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1cc...           99
154733628                CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C           35

[111378206 rows x 2 columns]

In [7]:
df_canonized_smiles[['text_length']].describe()

        text_length
count  1.113782e+08
mean   4.431726e+01
std    2.286407e+01
min    1.000000e+00
25%    3.100000e+01
50%    4.000000e+01
75%    5.200000e+01
max    3.531000e+03

In [8]:
try:
    df_canonized_smiles.drop('text_length', inplace=True, axis=1)
except:
    pass
df_canonized_smiles

                                                      SMILES
1                           CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
2                              CC(=O)OC(CC(=O)O)C[N+](C)(C)C
3                                       O=C(O)C1=CC=CC(O)C1O
4                                                    CC(O)CN
5                                         NCC(=O)COP(=O)(O)O
...                                                      ...
154733624  Fc1ccc(P(c2ccc(F)cc2)c2ccc(F)cc2)cc1.Fc1ccc(P(...
154733625  Cc1ccc(P(c2ccc(C)cc2)c2cc(C)ccn2)cc1.Cc1ccc(P(...
154733626  Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc...
154733627  [Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1cc...
154733628                CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C

[111378206 rows x 1 columns]

In [9]:
array_unique_canoniozed_smiles = df_canonized_smiles['SMILES'].unique()
array_unique_canoniozed_smiles

array(['CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C',
       'CC(=O)OC(CC(=O)O)C[N+](C)(C)C', 'O=C(O)C1=CC=CC(O)C1O', ...,
       'Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1ccc(P(c2ccccc2)c2ccccc2)cc1',
       '[Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1ccc(P(c2ccco2)c2ccco2)nc1',
       'CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C'], dtype=object)

In [10]:
array_unique_canoniozed_smiles.shape, df_canonized_smiles.shape

((95889160,), (111378206, 1))

In [11]:
array_unique_canoniozed_smiles.shape[0] / df_canonized_smiles.shape[0]

0.8609328830453599

# drop Duplicate

In [12]:
df_canonized_smiles

                                                      SMILES
1                           CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
2                              CC(=O)OC(CC(=O)O)C[N+](C)(C)C
3                                       O=C(O)C1=CC=CC(O)C1O
4                                                    CC(O)CN
5                                         NCC(=O)COP(=O)(O)O
...                                                      ...
154733624  Fc1ccc(P(c2ccc(F)cc2)c2ccc(F)cc2)cc1.Fc1ccc(P(...
154733625  Cc1ccc(P(c2ccc(C)cc2)c2cc(C)ccn2)cc1.Cc1ccc(P(...
154733626  Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc...
154733627  [Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1cc...
154733628                CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C

[111378206 rows x 1 columns]

In [ ]:
df_canonized_smiles.drop_duplicates('SMILES', inplace=True, keep='first')

In [16]:
df_canonized_smiles

                                                      SMILES
1                           CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
2                              CC(=O)OC(CC(=O)O)C[N+](C)(C)C
3                                       O=C(O)C1=CC=CC(O)C1O
4                                                    CC(O)CN
5                                         NCC(=O)COP(=O)(O)O
...                                                      ...
154733624  Fc1ccc(P(c2ccc(F)cc2)c2ccc(F)cc2)cc1.Fc1ccc(P(...
154733625  Cc1ccc(P(c2ccc(C)cc2)c2cc(C)ccn2)cc1.Cc1ccc(P(...
154733626  Cc1ccnc(P(c2ccco2)c2ccco2)c1.[Cu]I.[Cu]I.c1ccc...
154733627  [Cu]I.[Cu]I.c1ccc(P(c2ccccc2)c2ccccc2)cc1.c1cc...
154733628                CCCC[Sn](CCCC)(CCCC)c1nc2ccccc2nc1C

[95889160 rows x 1 columns]

# Sampling 33M rows
- will use __30M__ to the max, but keep 3M more at this point
- Since mostlikely we will get some __None__ value from Descriptors

In [17]:
df_canonized_smiles_33M = df_canonized_smiles.sample(n=33000000, random_state=random_seed) # add 3M more just in case of getting None by Descriptors
df_canonized_smiles_33M

                                                      SMILES
23097826   Cc1cc2nn(-c3cccc4ccccc34)nc2cc1NC(=S)NC(=O)c1c...
143474201                                    O=CN1CCCC1C(F)F
127928730  Cc1nc(C2CCCN(C(=O)NC3CCC(N4CCC(C)CC4)CC3)C2)n[...
60059763                    CC(=O)OCC(C)c1ccccc1[N+](=O)[O-]
26865753   Cc1ccc(S(=O)(=O)N2CCN(C(=O)c3ccc(N(C)C)c([N+](...
...                                                      ...
55493150     CC(C)NC(=O)Nc1ccccc1C(=O)OCC(=O)Nc1ccccc1SC(F)F
121974228          O=C(O)C1CCOC1C1CCN(C(=O)c2coc3ccccc23)CC1
137301125  CC(=O)OC1C(C)CC=COC2(C)Oc3c(C)c(O)c4c(=O)c(c5o...
20617132    Cc1ccc2nc3ccc(=O)c([As]4SCCS4)c-3oc2c1[As]1SCCS1
58671569                         Cc1nc(NCCCc2ccccc2)nc(C)c1O

[33000000 rows x 1 columns]

# Save for each 1M

In [2]:
import subprocess

# Run the pwd command and capture its output
pwd_py = subprocess.run(['pwd'], stdout=subprocess.PIPE)

# Decode the output and store it in a variable
cur_dir = pwd_py.stdout.decode('utf-8').strip()
cur_dir

'/scratch/ylee/ChemLlama/dataset_mtr'

In [3]:
import sys
import importlib
sys.path.append(cur_dir)

import utils
importlib.reload(utils)

# Save SMILES 33M with HPC
- It will create `canonical_smiles_xxx.csv` series at ./dataset_mtr/dataset
- Current `num_process` is not the most optimal set since 33 % 6 = 3. You can control `num_process` according to your RAM and your Process. You can still change `num_row_per_chunk` but is not recommended.

In [58]:
# Hyper parameters
num_row_per_chunk = 1000000 # 1M
num_process = 6 
dir_to_save = f"{cur_dir}/dataset"
name_to_save = f"canonical_smiles"
overwrite=False

In [59]:
cur_dir

'/scratch/ylee/ChemLlama/dataset_mtr'

In [60]:
# # Uncomment the below if you want to create your own files.
# utils.fn_save_df_HPC(target_num_row_per_chunk=num_row_per_chunk,
#                      target_num_process=num_process,
#                      target_df_base=df_canonized_smiles_33M,
#                      target_dir_to_save=dir_to_save,
#                      target_name_to_save=name_to_save,
#                      overwrite=overwrite)

HPC done

In [54]:
list_df_for_HPC, list_indices_for_HPC = utils.fn_create_sub_df_for_HPC(target_num_row_per_chunk=num_row_per_chunk,
                                                                       target_df_base=df_canonized_smiles_33M)